{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница на django</title>
{% endblock %}

{% block content %}
    {% include 'main/nav.html' %}
    <h4>Мы рады приветствовать вас на нашем сайте, созданном с использованием фреймворка Django, который демонстрирует его возможности и создает интерактивное веб-приложение.</h4>

<h6>Django — мощный фреймворк для разработки веб-приложений на Python, позволяющий быстро создавать надежные и масштабируемые приложения благодаря архитектуре "Model-View-Template" (MVT).</h6>

<p>В нашем приложении вы найдете функции для решения различных задач и удобный интерфейс для пользователей. На сайте представлена информация о проекте, доступ к ресурсам и возможность взаимодействия с другими пользователями.</p>

<p>Мы постоянно улучшаем функциональность и дизайн, и ваши отзывы будут нам очень полезны!</p>

<h5>Спасибо за посещение нашего сайта. Надеемся, что вы найдете его полезным. Если у вас есть вопросы или предложения, обращайтесь через форму обратной связи</h5>
{% endblock %}

